.main {
  max-width: 400px;
}

.paper {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  legend {
    text-align: center;
    font-weight: bold;
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
  }
  button {
    margin-top: 0.75rem !important;
  }
}

.logo {
  max-height: 96px;
  max-width: 368px;
  margin-bottom: 1rem;
}

.inputContainer {
  min-height: 5.75rem;
}

.validity {
  color: var(--bs-danger);
  margin-top: -1rem;
  font-size: 0.8rem;
}

.error {
  margin-top: 0.5rem !important;
}
