.container {
  --ax-theme-shell-view-toolbar-border: none;
}

.tree {
  --bs-table-bg: var(--bs-body-bg);
  --bs-table-active-bg: var(--bs-table-striped-bg);
  --bs-table-th-bg: var(--ax-grid-header-bg, var(--bs-tertiary-bg));
}

.placeholder {
  min-height: 4rem;
  border: 1px dashed var(--bs-border-color);
  margin: 0.25rem;
} 
