.tree {
  --bs-table-bg: var(--bs-body-bg);
  --bs-table-active-bg: var(--ax-grid-active-bg, var(--bs-secondary-bg));
  --bs-table-hover-bg: var(--ax-grid-hover-bg, var(--bs-secondary-bg));
  --bs-table-striped-bg: var(--ax-grid-strip-bg, var(--bs-table-bg));
  --bs-table-border-color: var(--ax-grid-border-color, var(--bs-border-color));
  --bs-table-th-font-weight: var(--ax-grid-header-font-weight, 600);
  --bs-table-th-bg: var(--ax-grid-header-bg, var(--bs-tertiary-bg));
  --bs-table-cell-padding: 0.35rem;
}

.tree {
  margin-top: 0.5rem;
}