.builder {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex: 1;

  .header {
    display: flex;
    .title {
      flex: 1;
    }
    .buttons {
      display: flex;
      gap: 1rem;
      .close {
        cursor: pointer;
      }
    }
  }
}
