$color: var(--ax-theme-table-th-color, var(--bs-table-color));
$fontWeight: var(--ax-theme-table-th-font-weight, bold);
$borderColor: var(--ax-theme-table-border-color, var(--bs-border-color));
$backgroundColor: var(--ax-theme-table-bg, var(--bs-table-bg));

.summaryBar {
  color: $color;
  border-top: 1px solid $borderColor;
  background: $backgroundColor;
  box-shadow: 0 -2px 6px $backgroundColor;
}
.endSection {
  margin-left: auto;
}

.section {
  & > * {
    &:first-child {
      border-left: 1px solid $borderColor;
    }
    & {
      border-right: 1px solid $borderColor;
    }
  }
}

.label {
  font-weight: 500;
  opacity: 0.85;
}

.value {
  font-weight: $fontWeight;
}
