.react-datepicker__navigation {
  height: 1.5rem;
  width: 1.5rem;
  top: 7px;
  &:focus-visible {
    outline: var(--bs-border-color) solid 1px;
  }
}
.react-datepicker__navigation--previous {
  left: 10px;
  [dir='rtl'] & {
    left: unset;
    right: 10px;
  }
}
.react-datepicker__navigation--next {
  right: 10px;
  [dir='rtl'] & {
    right: unset;
    left: 10px;
  }
}
.react-datepicker__navigation-icon--previous {
  right: 0;
  top: 5px;
  [dir='rtl'] & {
    right: unset;
    left: 0;
  }
}
.react-datepicker__navigation-icon--next {
  left: 0;
  top: 5px;
  [dir='rtl'] & {
    left: unset;
    right: 0;
  }
}
.react-datepicker__navigation-icon--previous::before {
  [dir='rtl'] & {
    transform: rotate(45deg);
  }
}
.react-datepicker__navigation-icon--next::before {
  [dir='rtl'] & {
    transform: rotate(225deg);
  }
}
.react-datepicker {
  border-radius: 0.5rem;
  border-color: var(--bs-border-color);
}
.react-datepicker__header {
  background-color: #fbfbfb;
  border-color: var(--bs-border-color);
}
.rbc-event {
  background-color: var(--bs-link-color);
}
.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background-color: var(--bs-link-color);
  &:hover {
    background-color: var(--bs-link-hover-color);
  }
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  background-color: #8885ff;
  border-color: transparent;
  &:hover {
    background-color: #4946ec;
    border-color: transparent;
  }
}
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item--selected {
  background-color: var(--bs-link-color);
  &:hover {
    background-color: #4946ec;
  }
}

.react-datepicker-popper {
  z-index: 9999;
  padding-top: 0 !important;
}

.react-datepicker__input-time-container {
  margin: 5px 0 10px -10px;
  text-align: center;
}

.react-datepicker__month-dropdown-container, .react-datepicker__year-dropdown-container {
  margin: 0px 20px;
}
