
public ${repo.classStatement} extends ${repo.baseClass} {

	public ${repo.className}() {
		super(${repo.modelClass}.class);
	}
	<% repo.finderMethods.each { %>\
		${it.getCode(false)}\
	<% } %>\
	${repo.extraCode}
}