
public <% if (!repo.concrete) { %>abstract <% } %>class ${repo.name} extends ${repo.baseClass} {

	public ${repo.name}() {
		super(${repo.modelClass}.class);
	}
	<% repo.finderMethods.each { %>\
		${it.getCode(false)}\
	<% } %>\
	${repo.extraCode}
}