ivy
bin
build
.gradle
.project
.classpath
.settings
node_modules
application.min.*
application.gzip.*
application.login.min.*
application.login.gzip.*
*.sw[nop]
*~
.#*
[#]*#

# Intellij
out
.idea
*.iml
*.ipr
*.iws
*.iml
atlassian-ide-plugin.xml
