.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  background-color: #fcf8e3;
  border: 1px solid #faebcc;
  border-radius: 4px;
}

.alert,
.alert h4 {
  color: #8a6d3b;
}

.alert h4 {
  margin: 0;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-success h4 {
  color: #3c763d;
}

.alert-danger,
.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-danger h4,
.alert-error h4 {
  color: #a94442;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-info h4 {
  color: #31708f;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

.alert-block p + p {
  margin-top: 5px;
}
