$primary: #2196f3;
$secondary: #6c757d;
$success: #4caf50;
$info: #00bcd4;
$warning: #ff9800;
$danger: #f44336;
$error: #f44336;

$blue: #2196f3;
$indigo: #3f51b5;
$purple: #9c27b0;
$pink: #e91e63;
$red: #f44336;
$orange: #ff9800;
$yellow: #ffeb3b;
$green: #4caf50;
$teal: #009688;
$cyan: #00bcd4;
$black: #000;
$white: #fff;
$grey: #9e9e9e;
$deeppurple: #673ab7;
$lightblue: #03a9f4;
$lightgreen: #8bc34a;
$lime: #cddc39;
$amber: #ffc107;
$deeporange: #ff5722;
$brown: #795548;
$bluegrey: #607d8b;
$olive: #cddc39;
$violet: #9c27b0;

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "error": $error,
  
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "black": $black,
  "white": $white,
  "grey": $green,
  "deeppurple": $deeppurple,
  "lightblue": $lightblue,
  "lightgreen": $lightgreen,
  "lime": $lime,
  "amber": $amber,
  "deeporange": $deeporange,
  "brown": $brown,
  "bluegrey": $bluegrey,
  "olive": $olive,
  "violet": $violet
);
