.label-bold {
  font-weight: 600 !important;
}

.label-italic {
  font-style: italic !important;
}

.label-underline {
  text-decoration: underline !important;
}

.label-overline {
  text-decoration: overline !important;
}

.label-line-through {
  text-decoration: line-through !important;
}

.label-small {
  font-size: 10px !important;
}

.label-big {
  font-size: 16px !important;
}

.label-large {
  font-size: 18px !important;
}

.label-left {
  text-align: left !important;
}

.label-right {
  text-align: right !important;
}

.label-center {
  text-align: center !important;
}

.label-justify {
  text-align: justify !important;
}

.label-red {
  color: red !important;
}

.label-blue {
  color: blue !important;
}

.label-green {
  color: green !important;
}

.label-muted {
  color: #777 !important;
}

.label-primary {
  color: #428bca !important;
}

.label-success {
  color: #3c763d !important;
}

.label-info {
  color: #31708f !important;
}

.label-warning {
  color: #8a6d3b !important;
}

.label-danger {
  color: #a94442 !important;
}

.label-bg-primary {
  color: #fff;
  background-color: #428bca !important;
}

.label-bg-success {
  background-color: #dff0d8 !important;
}

.label-bg-info {
  background-color: #d9edf7 !important;
}

.label-bg-warning {
  background-color: #fcf8e3 !important;
}

.label-bg-danger {
  background-color: #f2dede !important;
}
