.toolbar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  .extra {
    flex: 1;
    min-width: 0;
  }
}

.icon {
  height: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageInfo {
  white-space: nowrap;
}