.container {
  --bs-input-shadow-focus: none;
  --bs-input-border-focus: 0;
  flex: 1;
}

.select > * {
  width: 100%;
}

.select > div > div {
  --bs-input-shadow-focus: none;
  --bs-input-border-focus: 0;
  border: 0;
  border-radius: var(--bs-input-border-radius, var(--bs-border-radius));
  font-weight: normal;
}

.container,
.select {
  margin: 0.25rem 0.125rem;
}