.icon {
  display: block;
  opacity: 0.4;
}

.icon::before {
  line-height: 1.5;
}

.active {
  opacity: 1;
}

.hoverIcon {
  display: none;
  opacity: 1;
}

.container:hover {
  .icon {
    display: none;
  }

  .hoverIcon {
    display: block;
  }
}
