.container {
  border-radius: var(--bs-input-border-radius, var(--bs-border-radius));
  position: relative;
  display: inline-flex;
}

.invalid {
  border: var(--bs-input-invalid-border, 1px solid var(--bs-danger));
}

.btns {
  height: fit-content;
}
