@font-face {
  font-family: 'fontawesome';
  src: url('./fonts/icons.woff2?53239038') format('woff2'),
       url('./fonts/icons.woff?53239038') format('woff');
  font-weight: normal;
  font-style: normal;
}

.fa-adress-card-o:before {
  content: '\e800';
}

.fa-archive:before {
  content: '\e801';
}

.fa-bar-chart:before {
  content: '\e802';
}

.fa-bell:before {
  content: '\e803';
}

.fa-book:before {
  content: '\e804';
}

.fa-bullhorn:before {
  content: '\e805';
}

.fa-calendar:before {
  content: '\e806';
}

.fa-check:before {
  content: '\e807';
}

.fa-clock-o:before {
  content: '\e808';
}

.fa-cog:before {
  content: '\e809';
}

.fa-comments-o:before {
  content: '\e80a';
}

.fa-print:before {
  content: '\e80b';
}

.fa-dashboard:before {
  content: '\e80c';
}

.fa-envelope:before {
  content: '\e80d';
}

.fa-files-o:before {
  content: '\e80e';
}

.fa-file-text-o:before {
  content: '\e80f';
}

.fa-floppy-o:before {
  content: '\e810';
}

.fa-gear:before {
  content: '\e811';
}

.fa-graduation-cap:before {
  content: '\e812';
}

.fa-group:before {
  content: '\e813';
}

.fa-handshake-o:before {
  content: '\e814';
}

.fa-home:before {
  content: '\e815';
}

.fa-hourglass-end:before {
  content: '\e816';
}

.fa-list:before {
  content: '\e817';
}

.fa-map-marker:before {
  content: '\e818';
}

.fa-paperclip:before {
  content: '\e819';
}

.fa-pencil:before {
  content: '\e81a';
}

.fa-plane:before {
  content: '\e81b';
}

.fa-play:before {
  content: '\e81c';
}

.fa-plus:before {
  content: '\e81d';
}

.fa-power-off:before {
  content: '\e81e';
}

.fa-refresh:before {
  content: '\e81f';
}

.fa-reply:before {
  content: '\e820';
}

.fa-search:before {
  content: '\e821';
}

.fa-shopping-cart:before {
  content: '\e822';
}

.fa-star:before {
  content: '\e823';
}

.fa-suitcase:before {
  content: '\e824';
}

.fa-tasks:before {
  content: '\e825';
}

.fa-th-large:before {
  content: '\e826';
}

.fa-trash-o:before {
  content: '\e827';
}

.fa-user:before {
  content: '\e828';
}

.fa-users:before {
  content: '\e829';
}

.fa-wrench:before {
  content: '\e82a';
}

.fa-chevron-left:before,
.fa-left-open-big:before {
  content: '\e82b';
}

.fa-chevron-right:before,
.fa-right-open-big:before {
  content: '\e82c';
}

.fa-down-open-big:before {
  content: '\e82d';
}

.fa-up-open-big:before {
  content: '\e82e';
}

.fa-cancel:before {
  content: '\e82f';
}

.fa-flag-empty:before {
  content: '\f11d';
}