.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.menus {
  display: flex;
  flex: 1;
}

.farItems {
  display: flex;
}

.badge {
  position: absolute !important;
  left: 0.75rem;
  font-size: 0.65rem;
  [dir="rtl"] & {
    left: unset;
    right: 0.75rem;
  }
}

.user {
  width: 57px;
  img {
    background: transparent;
  }
  img, button > * > * {
    height: 1.5rem;
    width: 1.5rem;
    padding: 0;
  }
}

.quickMenus {
  max-height: 380px;
  overflow: auto;
  width: 250px;

  > * > button {
    white-space: wrap;
  }
}

.searchFiltersInput {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem !important;
  border: 1px solid var(--bs-border-color) !important;
  border-radius: var(--bs-border-radius) !important;
}
