<div id="loginWindow" class="hide" style="overflow: hidden;">
  <div class="row-fluid">
  <form name="loginForm" class="span10 offset1">
    <label x-translate>User</label>
    <input type="text" name="username" class="input-xlarge">
    <label x-translate>Password</label>
    <input type="password" name="password" class="input-xlarge">
  </form>
  </div>
  <div class="alert alert-error hide login-failed">
    <strong x-translate>Failed!</strong> <i x-translate>Log in attempt failed.</i>
  </div>
  <div class="alert alert-error hide login-offline">
    <strong x-translate>Offline!</strong> <i x-translate>Server is not responding.</i>
  </div>
</div>
