.shortcuts {
  tbody {
    vertical-align: text-top;
    td {
      padding: 0.25rem 1rem;
    }
    .keys {
      white-space: nowrap;
    }
    .notes {
      height: 3em;
      vertical-align: bottom;
    }
  }
}
