.ng-hide {
  display: none !important;
}

.kanban-card {
  border-left: 3px solid #e7eaec;
}

.kanban-card:hover {
  cursor: pointer;
}

.kanban-card.primary {
  border-left: 3px solid #428bca;
}

.kanban-card.warning {
  border-left: 3px solid #f0ad4e;
}

.kanban-card.danger {
  border-left: 3px solid #d9534f;
}

.kanban-card.info {
  border-left: 3px solid #5bc0de;
}

.kanban-card.success {
  border-left: 3px solid #5cb85c;
}

.kanban-card h4 {
  margin: 0 0 4px 0;
  font-weight: 600;
  font-size: 13px;
}

.kanban-card img {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 2px;
  bottom: 2px;
  border-radius: 100%;
}

.rect-image .kanban-card img {
  border-radius: 0;
}

.kanban-card .card-footer {
  margin-top: 4px;
  color: #777;
  font-size: 12px;
}

.cards-view.cards-center .kanban-card-list {
  justify-content: center;
}

.cards-view .kanban-card-container {
  float: left;
  width: 33.33333333%;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  display: flex;
}

.cards-view .kanban-card {
  box-sizing: border-box;
  margin: 0;
  padding: 16px;
  background-color: #fff;
  overflow: hidden;
  width: 100%;
}

.cards-view .kanban-card address {
  margin-bottom: 0;
}

.cards-view .kanban-card p {
  margin: 9px 0;
}

.cards-view .card-image {
  position: relative;
  text-align: center;
}

.cards-view .card-image img {
  position: relative;
  width: 64px;
  height: 64px;
}

.cards-view .card-image strong {
  margin-top: 6px;
  display: block;
}

.kanban-column h3,
.kanban-column h4,
.kanban-column .card-body,
.kanban-column .card-footer {
  overflow: hidden;
  text-overflow: ellipsis;
}

.tag-select .label {
  &.red {
    background: #f44336;
  }
  &.pink {
    background: #e91e63;
  }

  &.purple {
    background: #9c27b0;
  }

  &.deeppurple {
    background: #673ab7;
  }

  &.indigo {
    background: #3f51b5;
  }

  &.blue {
    background: #2196f3;
  }

  &.lightblue {
    background: #03a9f4;
  }

  &.cyan {
    background: #00bcd4;
  }

  &.teal {
    background: #009688;
  }

  &.green {
    background: #4caf50;
  }

  &.lightgreen {
    background: #8bc34a;
    color: rgba(0, 0, 0, 0.8);
  }

  &.lime {
    background: #cddc39;
    color: rgba(0, 0, 0, 0.8);
  }

  &.yellow {
    background: #ffeb3b;
    color: rgba(0, 0, 0, 0.8);
  }

  &.amber {
    background: #ffc107;
    color: rgba(0, 0, 0, 0.8);
  }

  &.orange {
    background: #ff9800;
    color: rgba(0, 0, 0, 0.8);
  }

  &.deeporange {
    background: #ff5722;
  }

  &.brown {
    background: #795548;
  }

  &.grey {
    background: #9e9e9e;
    color: rgba(0, 0, 0, 0.8);
  }

  &.bluegrey {
    background: #607d8b;
  }

  &.black {
    background: black;
  }

  &.white {
    background: whitesmoke;
    color: rgba(0, 0, 0, 0.8);
  }
}

.dl-horizontal {
  display: inherit;
}

.order-subtotal {
  dl {
    display: inline-grid;
    grid-template-columns: 1.25fr 1fr;
    float: right;
  }

  dt {
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
  }

  dt,
  dd {
    margin: 0;
    padding: 0.25rem 1rem;
    white-space: nowrap;
  }

  dt {
    font-weight: normal;
  }
  dd {
    margin-left: 0;
    text-align: right;
  }

  dd:empty {
    height: 26px;
  }

  .order-subtotal-total {
    border-top: 1px solid #ccc;
    font-size: 18px;
    font-weight: 600;
  }
}

[dir="rtl"] {
  .order-subtotal {
    dl {
      float: left;
    }
  }
}

.report-box {
  padding: 15px 20px 20px 20px;
  overflow: hidden;
}

.report-box .report-tags {
  position: absolute;
  top: 9px;
  right: 48px;
}

.report-box h1 {
  margin-bottom: 0;
}

.report-box .report-icon {
  position: absolute;
  top: 65px;
  font-size: 30px;
  & + div {
    margin-left: 42px;
  }
}

.report-box .report-data {
  width: 100%;
}
.text-error {
  color: #a94442;
}

.text-success {
  color: #3c763d;
}

.text-info {
  color: #31708f;
}

.text-warning {
  color: #8a6d3b;
}
