$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

// Core variables and mixins
@import "~bootstrap-sass/lib/variables"; // Modify this for custom colors, font-sizes, etc
@import "~bootstrap-sass/lib/mixins";

// CSS Reset
// @import "~bootstrap-sass/lib/reset";

// Grid system and page structure
// @import "~bootstrap-sass/lib/scaffolding";
@import "~bootstrap-sass/lib/grid";
@import "~bootstrap-sass/lib/layouts";

// Base CSS
// @import "~bootstrap-sass/lib/type";
// @import "~bootstrap-sass/lib/code";
// @import "~bootstrap-sass/lib/forms";
// @import "~bootstrap-sass/lib/tables";

// Components: common
@import "~bootstrap-sass/lib/sprites";
@import "~bootstrap-sass/lib/dropdowns";
// @import "~bootstrap-sass/lib/wells";
@import "~bootstrap-sass/lib/component-animations";
@import "~bootstrap-sass/lib/close";

// Components: Buttons & Alerts
@import "~bootstrap-sass/lib/buttons";
@import "~bootstrap-sass/lib/button-groups";
@import "~bootstrap-sass/lib/alerts"; // Note: alerts share common CSS with buttons and thus have styles in buttons

// Components: Nav
@import "~bootstrap-sass/lib/navs";
// @import "~bootstrap-sass/lib/navbar";
// @import "~bootstrap-sass/lib/breadcrumbs";
// @import "~bootstrap-sass/lib/pagination";
// @import "~bootstrap-sass/lib/pager";

// Components: Popovers
// @import "~bootstrap-sass/lib/modals";
// @import "~bootstrap-sass/lib/tooltip";
// @import "~bootstrap-sass/lib/popovers";

// Components: Misc
@import "~bootstrap-sass/lib/thumbnails";
@import "~bootstrap-sass/lib/media";
@import "~bootstrap-sass/lib/labels-badges";
// @import "~bootstrap-sass/lib/progress-bars";
// @import "~bootstrap-sass/lib/accordion";
// @import "~bootstrap-sass/lib/carousel";
// @import "~bootstrap-sass/lib/hero-unit";

// Utility classes
@import "~bootstrap-sass/lib/utilities"; // Has to be last to override when necessary


.kanban-card {
  border-left: 3px solid #e7eaec;
}

.kanban-card:hover {
  cursor: pointer;
}

.kanban-card.primary {
  border-left: 3px solid #428bca;
}

.kanban-card.warning {
  border-left: 3px solid #f0ad4e;
}

.kanban-card.danger {
  border-left: 3px solid #d9534f;
}

.kanban-card.info {
  border-left: 3px solid #5bc0de;
}

.kanban-card.success {
  border-left: 3px solid #5cb85c;
}

.kanban-card h4 {
  margin: 0 0 4px 0;
  font-weight: 600;
  font-size: 13px;
}

.kanban-card img {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 2px;
  bottom: 2px;
  border-radius: 100%;
}

.rect-image .kanban-card img {
  border-radius: 0;
}

.kanban-card .card-footer {
  margin-top: 4px;
  color: #777;
  font-size: 12px;
}

.cards-view.cards-center .kanban-card-list {
  justify-content: center;
}

.cards-view .kanban-card-container {
  float: left;
  width: 33.33333333%;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  display: flex;
}

.cards-view .kanban-card {
  box-sizing: border-box;
  margin: 0;
  padding: 16px;
  background-color: #fff;
  overflow: hidden;
  width: 100%;
}

.cards-view .kanban-card address {
  margin-bottom: 0;
}

.cards-view .kanban-card p {
  margin: 9px 0;
}

.cards-view .card-image {
  position: relative;
  text-align: center;
}

.cards-view .card-image img {
  position: relative;
  width: 64px;
  height: 64px;
}

.cards-view .card-image strong {
  margin-top: 6px;
  display: block;
}

.kanban-column h3,
.kanban-column h4,
.kanban-column .card-body,
.kanban-column .card-footer {
  overflow: hidden;
  text-overflow: ellipsis;
}
