//
// IMPORTANT: sync with GridLayout item margin
//
.panel {
  --ax-panel-header-border: 0;
  --ax-panel-body-padding: 0.5rem 1rem 0.5rem 1rem;
}

.panel .panel {
  --ax-panel-body-padding: 0;
  --ax-panel-shadow: none;
  --ax-panel-bg: transparent;
}

.title {
  display: flex;
  justify-content: start;
}
