.card {
  width: calc(100% / 3);
  min-width: 250px;
  flex-grow: 1;
  cursor: pointer;
  position: relative;

  .menuIcon {
    position: absolute;
    top: 0;
    right: 0.5rem;
    button {
      visibility: hidden;
      padding: 0;
      background-color: transparent;
      span > span {
        line-height: 1;
      }
    }
  }
  &:hover .menuIcon button,
  & .menuIcon button[class*="open"] {
    visibility: inherit;
  }
}

.card img {
  max-width: 64px;
}
