.card {
  width: calc(100% / 3);
  cursor: pointer;
  position: relative;
  .menuIcon {
    position: absolute;
    top: 0;
    right: 0.75rem;
    height: 1.5rem;
    display: none;
  }
  &:hover .menuIcon,
  .menuIcon:focus,
  .menuIcon.show {
    display: block;
  }
}

.card img {
  max-width: 64px;
}
