.tabs {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
}

.tabContent {
  display: none;
  flex: 1;
  overflow: auto;
  min-height: 0;
  min-width: 0;
}

.tabContent.active {
  display: flex;
}

.dirty {
  .tabTitle::after {
    content: "*";
  }
}

.tab {
  display: flex;
  align-items: center;
  .tabTitle {
    margin: 0 0.5rem;
    display: inline-flex;
    gap: 0.25rem;
    white-space: nowrap;
  }
  .tabClose {
    display: inline-flex;
    color: rgba(0, 0, 0, 0.5);
    &:hover {
      color: inherit;
    }
  }
  .tabIcon {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
