.bpmn-canvas {
	width: 100%;
	height: 100%;
}

.bpmn-editor {
	height: 530px;
	border: 1px solid #ddd;
	position: relative;
	border-bottom: 4px solid #ddd;
}

.bpmn-editor,
.bpmn-editor * {
	box-sizing: border-box;
}

.bpmn-editor .bjs-powered-by {
	top: 14px !important;
	right: 10px !important;
	bottom: inherit !important;
}

.bpmn-editor .bjs-powered-by img {
	width: 24px !important;
	height: 24px !important;
}

.bpmn-props {
	position: absolute;
	top: 0;
	right: 0;
	width: 230px;
	height: 100%;
	border-left: 1px solid #e7e7e7;
	background: #fff;
	overflow: hidden;
}

.bpmn-props .panel-body {
	padding: 6px 10px !important;
}

.bpmn-props .form-item-hidden {
	display: none;
}
