html, body {
	overflow: hidden;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
   display: none;
}

#container {
	left: 0px; right: 0px; top: 42px; bottom: 0px;
	min-width:	600px;
	position:	absolute;
}

@media (max-width: 979px) {
#container {
	top: 50px;
}
}

.navbar .navbar-inner .container-fluid {
	min-width: 940px;
}

.view-tabs {
	background-color: white;
}

header .container-fluid {
	padding-left: 10px;
	padding-right: 10px;
}

header .navbar .nav-shortcuts > li > a {
	padding: 10px 8px 10px;
}

header .navbar .nav-shortcuts > .divider-vertical {
	margin: 0 4px;
}

header .navbar .nav-shortcuts > li > a > img {
	height: 20px !important;
}

header .dropdown > ul.dropdown-menu {
    margin: 0;
}

header .dropdown-menu:after,
header .dropdown-menu:before {
    border: none;
    content: none !important;
}

header .dropdown-menu {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

header .navbar-inverse .dropdown-menu {
	background-color: #1b1b1b;
}

header .navbar-inverse .dropdown-menu {
	border-top: 0;
}

header .navbar-inverse .dropdown-menu .divider {
	height: inherit;
	background-color: inherit;
	border-top: 1px solid #111;
	border-bottom: 1px solid #222;
}

header .navbar-inverse .dropdown-menu > li > a {
	color: #999999;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

header .navbar-inverse .dropdown-menu > li > a:hover,
header .navbar-inverse .dropdown-menu > li > a:focus,
header .navbar-inverse .dropdown-submenu:hover > a,
header .navbar-inverse .dropdown-submenu:focus > a {
	background-image: none;
	background-color: #111;
	color: #fff;
}

.footer {
	position: absolute;
	left: 0px; right: 0px; bottom: 0px;
	padding-top: 4px;
	background-color: #333;
	color: white;
}

.footer p {
	font-size: smaller;
	margin-bottom: 4px;
	text-shadow: 0 1px 1px #111;
	text-align: center;
}

.spacer {
	height: 1em;
}

/* jQuery UI fixes */
.ui-state-hover * {
  color: inherit !important;
}

.ui-widget {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
	font-size: inherit;
}

.ui-widget-content {
	border: 1px solid #d4d4d4;
}

.ui-dialog,
.ui-datepicker,
.ui-menu {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.ui-menu {
	z-index: 9999999999 !important;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.ui-menu .ui-menu-item a.ui-state-focus {
	color: white;
	text-decoration: none;

	border-color: #0081C2;
	background-color: #0081C2;
	background-image: -webkit-linear-gradient(top, #08C, #0077B3);
	background-image:    -moz-linear-gradient(top, #08C, #0077B3);
	background-image:     -ms-linear-gradient(top, #08C, #0077B3);
	background-image:         linear-gradient(top, #08C, #0077B3);
}

.ui-dialog {
	padding: 0;
}

.ui-dialog .ui-dialog-titlebar {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #EEE;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	background: none;
	
	padding: 9px 15px;
	font-size: 24.5px;
	line-height: 30px;
}

.ui-dialog .ui-dialog-title {
	margin: 0;
}

.ui-dialog .ui-dialog-titlebar-close.ui-state-hover {
	background: none;
	border: 0;
}

.ui-dialog .ui-dialog-titlebar-close:hover,
.ui-dialog .ui-dialog-titlebar-close:focus {
	padding: 1px;
}

.ui-dialog .ui-dialog-titlebar-close .ui-icon,
.ui-dialog .ui-dialog-titlebar-close .ui-icon.ui-state-hover {
	background: none !important;
}

.ui-dialog .ui-dialog-titlebar-close {
	margin-top: -16px;
	margin-right: 4px;
	height: auto;
	width: auto;
	opacity: 0.2;
}

.ui-dialog .ui-dialog-titlebar-close.ui-state-hover {
	border: 0;
	background: transparent;
	font-weight: bold;
	opacity: 0.4;
}

.ui-dialog .ui-dialog-titlebar-close span::before {
	content: "\00D7";
	display: inline-block;
}

.ui-dialog .ui-dialog-titlebar-close .ui-icon {
	text-indent: 0px !important;
	line-height: 20px;
	font-size: 20px;
	height: 20px;
	width: 12px;
}

.ui-dialog .ui-dialog-titlebar-close.ui-state-focus {
	background: inherit;
	border: inherit;
	font-weight: inherit;
}

.ui-dialog-buttonpane {
	background-color: #f5f5f5;
	border-top: 1px solid #DDD;
	-webkit-box-shadow: inset 0 1px 0 white;
       -moz-box-shadow: inset 0 1px 0 #ffffff;
            box-shadow: inset 0 1px 0 white;
}

.ui-dialog .ui-dialog-content {
	padding: 4px;	
}

.ui-widget-overlay {
	background: none;
	background-color: black;
}

.ui-dialog .slickgrid {
	position: absolute;
	top: 4px; bottom: 0px;
	left: 4px; right: 4px;
}

.ui-dialog-buttonpane .btn-group > .btn {
	margin: 0;
}

.ui-dialog-buttonpane .record-pager {
	margin: .4em;
}

.ui-dialog-buttonpane .btn-group > .btn:first-child {
	margin-left: 0;
}

.ui-dialog-buttonpane .btn-group > .btn:last-child {
	margin-left: -1px;
}

.ui-datepicker,
.ui-datepicker * {
	line-height: 1.1em;
}

.ui-datepicker,
.ui-datepicker table {
	font-size: 13px;
}

.ui-datepicker-header {
	background: none;
	border: none;
}

.ui-datepicker .ui-state-default {
	background: none !important;
	border: none !important;
	padding: 4px;
}

.ui-datepicker .ui-state-hover {
	background: #eee !important;
	border: none !important;
}

.ui-datepicker .ui-slider-handle {
	padding: 0;
	border: 1px solid #cccccc !important;
	
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6) !important;
	background-image:    -moz-linear-gradient(top, #ffffff, #e6e6e6) !important;
	background-image:     -ms-linear-gradient(top, #ffffff, #e6e6e6) !important;
	background-image:      -o-linear-gradient(top, #ffffff, #e6e6e6) !important;
	background-image:         linear-gradient(top, #ffffff, #e6e6e6) !important;
}

.ui-datepicker .ui-slider-handle.ui-state-hover,
.ui-datepicker .ui-state-active {
	color: white !important;
	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25) !important;
	background-color: #0074CC;

	background-image: -webkit-linear-gradient(top, #08C, #05C) !important;
	background-image:    -moz-linear-gradient(top, #08C, #05C) !important;
	background-image:     -ms-linear-gradient(top, #08C, #05C) !important;
	background-image:      -o-linear-gradient(top, #08C, #05C) !important;
	background-image:         linear-gradient(top, #08C, #05C) !important;
}

.ui-datepicker .ui-state-highlight {
	border: 1px solid #08c !important;
	padding: 3px;
}

.ui-datepicker .ui-datepicker-next-hover,
.ui-datepicker .ui-datepicker-prev-hover {
	top: 2px;
}

.ui-datepicker .ui-datepicker-next-hover {
	right: 2px;
}

.ui-datepicker .ui-datepicker-prev-hover {
	left: 2px;
}

.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
}

.no-close .ui-dialog-titlebar-close {
	display: none;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: inherit;
	font-size: 13px;
}

/* end jQuery UI fixes */

/* Browser fixes */

/* Remove box-shadow from buttons (dotted outline issue in Firefox) */
.btn {
	box-shadow: none !important;
}

.tooltip {
	z-index: 2100;
}

/* end Browser fixes */

.navigation-tabs ul.nav-tabs {
	margin-bottom: 0px;
}

.navigation-tabs {
	position: absolute;
	top: 8px; left: 4px; right: 4px; bottom: 4px;
}

.visible-false {
	visibility: hidden;
}

.visible-true {
	visibility: inherit;
}

.view-content {
	position: absolute;
	top: 38px; left: 0px; right: 0px; bottom: 0px;
}

.view-pane {
	position: absolute;
	top: 0px; left: 0px; right: 0px; bottom: 0px;
	padding: 2px;
}

.view-pane > .view-container {
	overflow: auto;
}

.view-pane > .view-container,
.view-pane > .view-container > div {
	position: absolute;
	top: 0px; left: 0px; right: 0px; bottom: 0px;
}

.grid-view > .slickgrid {
	position: absolute !important;
	top: 46px; left: 0px; right: 0px; bottom: 0px;
}

.record-toolbar .navbar-inner {

	border: 1px solid #d4d4d4;
	border-left: none;
	border-right: none;
	
	background-color: #f5f5f5;
	background-image: none;
	border-radius: 0;
	
	margin: 0;
	padding: 0;
}

.record-toolbar .view-switcher {
	margin-left: 4px;
}
.record-toolbar .view-switcher button {
	padding: 4px 8px;
}

.record-toolbar .view-title {
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	padding-top: 6px;
	padding-left: 6px;
}

.record-pager-text {
	display: inline-block;
	margin-top: 4px;
	margin-left: 4px;
	margin-right: 4px;
	font-size: 13px;
}

.record-pager > button {
	margin-left: 4px;
	margin-right: 4px;
}

.record-pager.pull-right > span,
.record-pager.pull-left > .btn-group {
	float: left;
}

.record-pager.pull-left > span {
	float: right;
}

.record-pager-change {
	display: none;
}

.record-pager-change {
	margin-right: 4px;
}

.record-pager-change button {
	height: auto !important;
}

.stackbar {
}

.stackbar .navbar,
.stackbar .navbar * {
	color: #333;
}

.stackbar .navbar .navbar-inner {
	min-height: 26px;
	padding-left: 10px;
	padding-right: 10px;
}

.stackbar .navbar .navbar-inner .brand {
	font-size: small;
	font-weight: bold;
	padding: 4px 8px;
	margin: 0;
	margin-left: -10px;
}

.stackbar .navbar .navbar-inner .container-fluid {
	min-width: 100px;
	padding: 0;
}

.stackbar .navbar {
	margin-bottom: 0px;
}

.stackbar .navbar,
.stackbar .navbar .navbar-inner {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	box-shadow: none;
}

.html-view,
.iframe-container,
.iframe-container > iframe {
	-webkit-box-sizing: border-box;
   	   -moz-box-sizing: border-box;
        	box-sizing: border-box;
}

.html-view > .iframe-container {
	position: absolute;
	top: 4px; bottom: 4px; left: 4px; right: 4px;	
}

.iframe-container > iframe {
	position: absolute;
	width: 100%;
	height: 100%;
}

.search-view {

}

.search-view form {
	margin: 0 0 8px;
}

.search-view .search-view-form {

}

.search-view .search-view-toolbar table.form-layout {
	width: inherit;
}

.search-view .search-view-grid {
	position: relative;
	overflow: hidden;	
}

.search-view .search-view-grid .slickgrid {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
}

.unselectable-text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

img.prefix-icon {
	margin-right: 4px;
}

[class^=icon-] {
	font-size: 14px;
}

.user-preferences-body {
	width: 400px;
	margin: auto;
}

.user-preferences-header {
	text-align: center;
}

.btn-toolbar .nav {
	font-size: 13px !important;
	margin-bottom: 0;
}
