.nav-tree .nav-header {
	margin-top: 0px;
	text-transform: none;
}

.nav-tree li {
	white-space: nowrap;
}

.nav-tree li a {
	color: #333;
	padding: 3px 0px;
	cursor: pointer;
	outline: none;
	overflow: hidden;
	text-overflow: ellipsis;
}

.nav-tree img {
	width: 16px;
	height: 16px;
	max-width: 16px;
	min-width: 16px;
	margin-top: -4px;
	margin-right: 4px
}

.nav-tree li.active a {
	background-color: #0074CC;
	background-image: -moz-linear-gradient(top, #08C, #05C);
	background-image: -ms-linear-gradient(top, #08C, #05C);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08C), to(#05C));
	background-image: -webkit-linear-gradient(top, #08C, #05C);
	background-image: -o-linear-gradient(top, #08C, #05C);
	background-image: linear-gradient(top, #08C, #05C);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
	border-color: #05C #05C #003580;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

header .navbar-inverse .nav li a img {
	height: 20px;
}
