.splitter-container {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.splitter-panel {
	position: absolute;
	top: 0; bottom: 0; left: 0;	right: 0;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.splitter-vertical,
.splitter-horizontal {
	position: absolute;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.splitter-vertical {
	top: 0;	bottom: 0;
	width: 10px;
	cursor: ew-resize;
	background-image: url("../img/splitter-v.png");
}

.splitter-horizontal {
	left: 0; right: 0;
	height: 10px;
	cursor: ns-resize;
	background-image: url("../img/splitter-h.png");
}

.splitter-header {
	height: 23px;
	background-image: url("../img/splitter-header.png");
}

.splitter-center {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	overflow: auto;
}

.splitter-footer {
	position: absolute;
	height: 26px;
	left: 0; right: 0; bottom: 0;
	background-image: url("../img/splitter-footer.png");
}

.splitter-title {
	line-height: 1em;
	font-weight: bold;
	padding: 4px 6px;
}
