.trail-view {
	
}

.trail-view .record-toolbar {
	margin-bottom: 20px;
}

.trail-form {
	background-color: #eee;
	border-radius: 4px;
	margin-right: 2px;
	margin-left: 2px;
	margin-bottom: 4px;
}

.trail-form .trail-form {
	background-color: #fff;
}

.trail-form .trail-form .trail-form {
	margin-left: 2px;
}

.trail-form .trail-form.trail-editor {
	padding-top: 4px;
	background-color: #eee;
}