.trail-view {
	
}

.trail-view .record-toolbar {
	margin-bottom: 20px;
}

.trail-form {
	background-color: #eee;
	border-radius: 4px;
	margin-right: 2px;
	margin-left: 2px;
	margin-bottom: 4px;
}

.trail-form.trail-child {
	margin-right: 8px;
}

.trail-form.trail-child,
.trail-form .trail-form {
	background-color: #fff;
}

.trail-form .trail-form .trail-form {
	margin-left: 2px;
}

.trail-form .trail-form.trail-editor {
	padding-top: 4px;
	background-color: #eee;
}

.trail-form-footer * {
	min-width: auto !important;
	width: auto !important;
}

.trail-form-footer table.form-layout {
	width: 100% !important;
}

.trail-form-footer label,
.trail-form-footer td > * {
	line-height: 26px;
}
.trail-form-footer,
.trail-form-footer fieldset,
.trail-form-footer span.display-text {
	padding: 0 !important;
}
