.portal-view .portal,
.portal-view .portlet,
.portal-view .portlet-body,
.portal-view .portlet-header,
.portal-view .portlet-content,
.portal-view .ui-sortable-placeholder {
	overflow: hidden;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.form-view .portlet,
.form-view .portlet-body,
.form-view .portlet-header,
.form-view .portlet-content {
	overflow: hidden;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.portal-view .portal {
	padding-top: 4px;
}

.portal-view .portlet {
	position: relative;
	float: left;
	min-height: 32px;
}

.portlet-header.navbar .icons-bar {
	padding-top: 0;
}

.portlet-header.navbar i {
	padding: 0 2px;
	margin: 0;
	padding-top: 4px;
}

.portlet-header.navbar .portlet-pager i.disabled {
	color: gray;
	cursor: default;
}

.portlet-header.navbar .divider-vertical {
	height: 26px;
	margin: 0 2px;
}

.portlet .portlet-body,
.portlet .portlet-content {
	position: absolute !important;
}

.portlet .portlet-body {
	top: 0px;
	right: 2px;
	bottom: 4px;
	left: 2px;

	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
				
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.portlet .portlet-content {
	top: 27px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.portlet .portlet-content > div,
.portlet .portlet-content > div > .slickgrid {
	top: 0px !important;
	height: 100%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.portlet.portlet-minimized {
	height: auto !important;
}

.portlet.portlet-minimized .portlet-content {
	display: none !important;
}


.portal-view .ui-sortable-placeholder {
	border: 1px dashed #c9c9c9;
	visibility: visible !important;
	
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
}

.portal-view .ui-sortable-placeholder * {
	visibility: hidden;
}
