
.container {
  max-width: 100%;
  height: 400px;
  overflow: hidden;
}

.panel {
  --ax-panel-header-title-padding: 0;
  --ax-panel-body-padding: 0;
  height: 100%;
}

.panelHeaderTitle {
  min-width: 0;
  overflow: hidden;
}

.panelBody {
  flex: 1;
  min-height: 0;
}

.panelContent {
  display: flex;
}

.title {
  flex: 1;
  padding: var(--ax-theme-panel-header-title-padding, 0.5rem);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
