.list {
  margin: 0;
  padding: 0;
  list-style: none;
  flex: 1;
  overflow: auto;
  display: inline-flex;
  flex-direction: column;
  gap: 0.125rem;

  > li {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
  }
}

.node {
  padding: 0.5rem;
  span:last-child {
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  cursor: pointer;
  border-radius: var(--ax-theme-nav-menu-item-radius);
  &:hover {
    background: var(--ax-theme-nav-menu-item-hover-bg, var(--bs-secondary-bg));
  }
  &.active {
    background: var(--ax-theme-nav-menu-item-active-bg, var(--bs-secondary-bg));
    color: var(--ax-theme-nav-menu-item-active-color, var(--bs-body-bg));
  }
}

.icon.hide {
  visibility: hidden;
}
