.container {
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  height: 16rem;
  width: 16rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
