.list {
  margin: 0;
  padding: 0;
  list-style: none;
  flex: 1;
  overflow: auto;
}

.node {
  --bs-table-bg: var(--bs-body-bg);
  --bs-table-active-bg: var(--ax-grid-active-bg, var(--bs-secondary-bg));
  --bs-table-hover-bg: var(--ax-grid-hover-bg, var(--bs-secondary-bg));
}

.node {
  span:last-child {
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  cursor: pointer;
  &.active {
    background: var(--bs-table-active-bg);
  }
  &:hover {
    background: var(--bs-table-hover-bg);
  }
}

.icon.hide {
  visibility: hidden;
}
