.tabs {
  display: flex;
  flex-direction: column;
  & [data-tab-id] {
    --ax-nav-tabs-text-padding: 0;
  }
}

.tabContent {
  display: flex;
  border: var(--ax-theme-panel-border, 1px solid var(--bs-border-color));
  border-radius: var(--ax-theme-panel-border-radius, var(--bs-border-radius));

  > div {
    --ax-panel-border: 0;
  }
}
