.root {
  width: 250px;
  margin: 0 0.25rem;
}

.popperContent {
  min-width: 480px;
  z-index: 1;
}

.icon {
  cursor: pointer;
}

.chipList > span {
  height: 1.75rem;
}

@media all and (max-width: 640px) {
  .popperContent {
    min-width: auto !important;
  }
  .filterList {
    flex-direction: column;
  }
  .popper {
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    box-shadow: none;
    overflow-y: auto;
    z-index: 1 !important;
    transform: none !important;
    background: var(--bs-body-bg);
    & > * {
      min-width: 0;
      min-height: 0;
      --bs-border-radius: 0;
      border: none !important
    }
  }
}
