$spacing: 0.25rem;

.actions {
  padding: 2 * $spacing;
  font-size: 0.85rem;
}

.pointer,
.chip {
  cursor: pointer;
}

.chip-list {
  height: 2.25rem;
}

.chip {
  max-width: 150px;
  & > span:first-child {
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


