$spacing: 0.25rem;

.chip a:hover {
  cursor: pointer;
  text-decoration: underline !important;
}

.chip a,
.colorChip *,
.chipIcon {
  display: inline-block;
  max-width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  font-weight: bold;
  vertical-align: middle;
  border: 0;
}

.chip {
  padding: 0.1rem 0.5rem;
  color: #fff;
  --chip-link-color: #fff;
  --chip-link-hover-color: #fff;
}
.chipIcon {
  cursor: pointer;
  color: inherit;
  & svg {
    color: inherit !important;
  }
}

.colorSelectionChip {
  margin: 0 0.15rem;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.chip,
.chip a {
  &,
  &:hover {
    color: #fff !important;
  }
}
