$spacing: 0.25rem;

.input {
  padding-top: 0.2875rem;
  padding-bottom: 0.2875rem;
  padding-left: 0.75rem !important;
}

.chipList {
  height: 2.25rem;
  --bs-link-color: #fff;
}

.actions {
  padding: 2 * $spacing;
  font-size: 0.85rem;
}

.chip {
  max-width: 150px;
  padding: 0.1rem 0.5rem;
  color: #fff;
  --chip-link-color: #fff;
  --chip-link-hover-color: #fff;
  & > span:first-child {
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  & a:hover {
    cursor: pointer;
    text-decoration: underline !important;
  }
}

.chip,
.chip a {
  &,
  &:hover {
    color: #fff !important;
  }
}

.chip *,
.chipIcon {
  display: inline-block;
  max-width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  font-weight: bold;
  vertical-align: middle;
  border: 0;
}

.chipIcon {
  cursor: pointer;
  color: inherit;
  & svg {
    color: inherit !important;
  }
}

.icon,
.chip {
  cursor: pointer;
}
