.container {
  border: 1px solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
}

.container:focus,
.container:focus-within {
  border: var(--ax-theme-input-focus-border, 1px solid var(--bs-primary));
  box-shadow: var(
    --ax-theme-input-focus-shadow,
    0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.25)
  );
}

.invalid {
  border: var(--ax-theme-input-invalid-border, 1px solid var(--bs-danger));
}

.invalid:focus,
.invalid:focus-within {
  border: var(
    --ax-theme-input-invalid-focus-border,
    1px solid var(--bs-danger)
  );
  box-shadow: var(
    --ax-theme-input-invalid-focus-shadow,
    0 0 0 0.25rem rgb(var(--bs-danger-rgb), 0.25)
  );
}
