.readonly {
  border: none !important;
  padding-left: 0;
  padding-right: 0;
  // hide icons
  > div:last-child {
    display: none;
  }
}

.icon {
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  padding: 2px;
}
