.kanban {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  min-height: 0;
}

.kanban-card {
  list-style: none;
  position: relative;
  border: 1px solid var(--bs-border-color);
  padding: 0.625rem;
  border-radius: 0.5rem;
  box-sizing: content-box;
  border-left: 3px solid var(--bs-border-color);
  user-select: none;
  background-color: var(--bs-body-bg);
  &:hover {
    cursor: pointer;
    box-shadow: var(--bs-box-shadow-sm);
  }
}

