.board {
  padding: 0.25rem;
  & > * {
    max-width: 100%;
  }
  &.responsive {
    flex-direction: column;
  }
}

.column-wrapper {
  display: flex;
  width: 24em;
}

.column {
  padding: 0.25rem 0.35rem;
  background-color: var(--bs-gray-100);
}

.column-title {
  color: var(--bs-gray-700);
  font-weight: 600;
  user-select: none;
}

.record-list-wrapper {
  width: 100%;
  flex-grow: 1;
  background-color: var(--bs-white);
  padding: 0.625rem 0.625rem 2rem;
  display: flex;
  flex-direction: column;
  &.overflow {
    overflow: auto;
  }
  &.no-data {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.record-list {
  flex: 1;
}

.record {
  &:hover .record-action button,
  .record-action button[class*="open"] {
    display: block;
  }
}

.record-action {
  position: absolute;

  top: 0.25rem;
  right: 0.5rem;

  .rtl & {
    right: unset;
    left: 0.25rem;
  }

  button {
    display: none;
    padding: 0;
    background-color: transparent;
    span > span {
      line-height: 1;
    }
  }
}

.no-records-text {
  color: var(--bs-gray-700);
}
