.flag {
  height: 24px;
  width: 24px;
  object-fit: none;
}

.flag[data-country="ad"] {
  object-position: 0px 0px;
}

.flag[data-country="ae"] {
  object-position: -24px 0px;
}

.flag[data-country="af"] {
  object-position: -48px 0px;
}

.flag[data-country="ag"] {
  object-position: -72px 0px;
}

.flag[data-country="al"] {
  object-position: -96px 0px;
}

.flag[data-country="am"] {
  object-position: -120px 0px;
}

.flag[data-country="ao"] {
  object-position: -144px 0px;
}

.flag[data-country="ar"] {
  object-position: -168px 0px;
}

.flag[data-country="at"] {
  object-position: -192px 0px;
}

.flag[data-country="au"] {
  object-position: -216px 0px;
}

.flag[data-country="aw"] {
  object-position: -240px 0px;
}

.flag[data-country="az"] {
  object-position: -264px 0px;
}

.flag[data-country="ba"] {
  object-position: -288px 0px;
}

.flag[data-country="bb"] {
  object-position: -312px 0px;
}

.flag[data-country="bd"] {
  object-position: -336px 0px;
}

.flag[data-country="be"] {
  object-position: -360px 0px;
}

.flag[data-country="bf"] {
  object-position: -384px 0px;
}

.flag[data-country="bg"] {
  object-position: -408px 0px;
}

.flag[data-country="bh"] {
  object-position: -432px 0px;
}

.flag[data-country="bi"] {
  object-position: -456px 0px;
}

.flag[data-country="bj"] {
  object-position: -480px 0px;
}

.flag[data-country="bn"] {
  object-position: -504px 0px;
}

.flag[data-country="bo"] {
  object-position: -528px 0px;
}

.flag[data-country="bq"] {
  object-position: -552px 0px;
}

.flag[data-country="br"] {
  object-position: -576px 0px;
}

.flag[data-country="bs"] {
  object-position: -600px 0px;
}

.flag[data-country="bt"] {
  object-position: -624px 0px;
}

.flag[data-country="bw"] {
  object-position: -648px 0px;
}

.flag[data-country="by"] {
  object-position: -672px 0px;
}

.flag[data-country="bz"] {
  object-position: -696px 0px;
}

.flag[data-country="ca"] {
  object-position: -720px 0px;
}

.flag[data-country="cd"] {
  object-position: -744px 0px;
}

.flag[data-country="cf"] {
  object-position: -768px 0px;
}

.flag[data-country="cg"] {
  object-position: -792px 0px;
}

.flag[data-country="ch"] {
  object-position: -816px 0px;
}

.flag[data-country="ci"] {
  object-position: -840px 0px;
}

.flag[data-country="cl"] {
  object-position: -864px 0px;
}

.flag[data-country="cm"] {
  object-position: -888px 0px;
}

.flag[data-country="cn"] {
  object-position: -912px 0px;
}

.flag[data-country="co"] {
  object-position: -936px 0px;
}

.flag[data-country="cr"] {
  object-position: -960px 0px;
}

.flag[data-country="cu"] {
  object-position: -984px 0px;
}

.flag[data-country="cv"] {
  object-position: -1008px 0px;
}

.flag[data-country="cw"] {
  object-position: -1032px 0px;
}

.flag[data-country="cy"] {
  object-position: -1056px 0px;
}

.flag[data-country="cz"] {
  object-position: -1080px 0px;
}

.flag[data-country="de"] {
  object-position: -1104px 0px;
}

.flag[data-country="dj"] {
  object-position: -1128px 0px;
}

.flag[data-country="dk"] {
  object-position: -1152px 0px;
}

.flag[data-country="dm"] {
  object-position: -1176px 0px;
}

.flag[data-country="do"] {
  object-position: -1200px 0px;
}

.flag[data-country="dz"] {
  object-position: -1224px 0px;
}

.flag[data-country="ec"] {
  object-position: -1248px 0px;
}

.flag[data-country="ee"] {
  object-position: -1272px 0px;
}

.flag[data-country="eg"] {
  object-position: -1296px 0px;
}

.flag[data-country="er"] {
  object-position: -1320px 0px;
}

.flag[data-country="es"] {
  object-position: -1344px 0px;
}

.flag[data-country="et"] {
  object-position: -1368px 0px;
}

.flag[data-country="fi"] {
  object-position: -1392px 0px;
}

.flag[data-country="fj"] {
  object-position: -1416px 0px;
}

.flag[data-country="fm"] {
  object-position: -1440px 0px;
}

.flag[data-country="fr"] {
  object-position: -1464px 0px;
}

.flag[data-country="ga"] {
  object-position: -1488px 0px;
}

.flag[data-country="gb"] {
  object-position: -1512px 0px;
}

.flag[data-country="gd"] {
  object-position: -1536px 0px;
}

.flag[data-country="ge"] {
  object-position: -1560px 0px;
}

.flag[data-country="gf"] {
  object-position: -1584px 0px;
}

.flag[data-country="gh"] {
  object-position: -1608px 0px;
}

.flag[data-country="gm"] {
  object-position: -1632px 0px;
}

.flag[data-country="gn"] {
  object-position: -1656px 0px;
}

.flag[data-country="gp"] {
  object-position: -1680px 0px;
}

.flag[data-country="gq"] {
  object-position: -1704px 0px;
}

.flag[data-country="gr"] {
  object-position: -1728px 0px;
}

.flag[data-country="gt"] {
  object-position: -1752px 0px;
}

.flag[data-country="gu"] {
  object-position: -1776px 0px;
}

.flag[data-country="gw"] {
  object-position: -1800px 0px;
}

.flag[data-country="gy"] {
  object-position: -1824px 0px;
}

.flag[data-country="hk"] {
  object-position: -1848px 0px;
}

.flag[data-country="hn"] {
  object-position: -1872px 0px;
}

.flag[data-country="hr"] {
  object-position: -1896px 0px;
}

.flag[data-country="ht"] {
  object-position: -1920px 0px;
}

.flag[data-country="hu"] {
  object-position: -1944px 0px;
}

.flag[data-country="id"] {
  object-position: -1968px 0px;
}

.flag[data-country="ie"] {
  object-position: -1992px 0px;
}

.flag[data-country="il"] {
  object-position: -2016px 0px;
}

.flag[data-country="in"] {
  object-position: -2040px 0px;
}

.flag[data-country="io"] {
  object-position: -2064px 0px;
}

.flag[data-country="iq"] {
  object-position: -2088px 0px;
}

.flag[data-country="ir"] {
  object-position: -2112px 0px;
}

.flag[data-country="is"] {
  object-position: -2136px 0px;
}

.flag[data-country="it"] {
  object-position: -2160px 0px;
}

.flag[data-country="jm"] {
  object-position: -2184px 0px;
}

.flag[data-country="jo"] {
  object-position: -2208px 0px;
}

.flag[data-country="jp"] {
  object-position: -2232px 0px;
}

.flag[data-country="ke"] {
  object-position: -2256px 0px;
}

.flag[data-country="kg"] {
  object-position: -2280px 0px;
}

.flag[data-country="kh"] {
  object-position: -2304px 0px;
}

.flag[data-country="ki"] {
  object-position: -2328px 0px;
}

.flag[data-country="km"] {
  object-position: -2352px 0px;
}

.flag[data-country="kn"] {
  object-position: -2376px 0px;
}

.flag[data-country="kp"] {
  object-position: -2400px 0px;
}

.flag[data-country="kr"] {
  object-position: -2424px 0px;
}

.flag[data-country="kw"] {
  object-position: -2448px 0px;
}

.flag[data-country="kz"] {
  object-position: -2472px 0px;
}

.flag[data-country="la"] {
  object-position: -2496px 0px;
}

.flag[data-country="lb"] {
  object-position: -2520px 0px;
}

.flag[data-country="lc"] {
  object-position: -2544px 0px;
}

.flag[data-country="li"] {
  object-position: -2568px 0px;
}

.flag[data-country="lk"] {
  object-position: -2592px 0px;
}

.flag[data-country="lr"] {
  object-position: -2616px 0px;
}

.flag[data-country="ls"] {
  object-position: -2640px 0px;
}

.flag[data-country="lt"] {
  object-position: -2664px 0px;
}

.flag[data-country="lu"] {
  object-position: -2688px 0px;
}

.flag[data-country="lv"] {
  object-position: -2712px 0px;
}

.flag[data-country="ly"] {
  object-position: -2736px 0px;
}

.flag[data-country="ma"] {
  object-position: -2760px 0px;
}

.flag[data-country="mc"] {
  object-position: -2784px 0px;
}

.flag[data-country="md"] {
  object-position: -2808px 0px;
}

.flag[data-country="me"] {
  object-position: -2832px 0px;
}

.flag[data-country="mg"] {
  object-position: -2856px 0px;
}

.flag[data-country="mh"] {
  object-position: -2880px 0px;
}

.flag[data-country="mk"] {
  object-position: -2904px 0px;
}

.flag[data-country="ml"] {
  object-position: -2928px 0px;
}

.flag[data-country="mm"] {
  object-position: -2952px 0px;
}

.flag[data-country="mn"] {
  object-position: -2976px 0px;
}

.flag[data-country="mo"] {
  object-position: -3000px 0px;
}

.flag[data-country="mq"] {
  object-position: -3024px 0px;
}

.flag[data-country="mr"] {
  object-position: -3048px 0px;
}

.flag[data-country="mt"] {
  object-position: -3072px 0px;
}

.flag[data-country="mu"] {
  object-position: -3096px 0px;
}

.flag[data-country="mv"] {
  object-position: -3120px 0px;
}

.flag[data-country="mw"] {
  object-position: -3144px 0px;
}

.flag[data-country="mx"] {
  object-position: -3168px 0px;
}

.flag[data-country="my"] {
  object-position: -3192px 0px;
}

.flag[data-country="mz"] {
  object-position: -3216px 0px;
}

.flag[data-country="na"] {
  object-position: -3240px 0px;
}

.flag[data-country="nc"] {
  object-position: -3264px 0px;
}

.flag[data-country="ne"] {
  object-position: -3288px 0px;
}

.flag[data-country="ng"] {
  object-position: -3312px 0px;
}

.flag[data-country="ni"] {
  object-position: -3336px 0px;
}

.flag[data-country="nl"] {
  object-position: -3360px 0px;
}

.flag[data-country="no"] {
  object-position: -3384px 0px;
}

.flag[data-country="np"] {
  object-position: -3408px 0px;
}

.flag[data-country="nr"] {
  object-position: -3432px 0px;
}

.flag[data-country="nz"] {
  object-position: -3456px 0px;
}

.flag[data-country="om"] {
  object-position: -3480px 0px;
}

.flag[data-country="pa"] {
  object-position: -3504px 0px;
}

.flag[data-country="pe"] {
  object-position: -3528px 0px;
}

.flag[data-country="pf"] {
  object-position: -3552px 0px;
}

.flag[data-country="pg"] {
  object-position: -3576px 0px;
}

.flag[data-country="ph"] {
  object-position: -3600px 0px;
}

.flag[data-country="pk"] {
  object-position: -3624px 0px;
}

.flag[data-country="pl"] {
  object-position: -3648px 0px;
}

.flag[data-country="pr"] {
  object-position: -3672px 0px;
}

.flag[data-country="ps"] {
  object-position: -3696px 0px;
}

.flag[data-country="pt"] {
  object-position: -3720px 0px;
}

.flag[data-country="pw"] {
  object-position: -3744px 0px;
}

.flag[data-country="py"] {
  object-position: -3768px 0px;
}

.flag[data-country="qa"] {
  object-position: -3792px 0px;
}

.flag[data-country="re"] {
  object-position: -3816px 0px;
}

.flag[data-country="ro"] {
  object-position: -3840px 0px;
}

.flag[data-country="rs"] {
  object-position: -3864px 0px;
}

.flag[data-country="ru"] {
  object-position: -3888px 0px;
}

.flag[data-country="rw"] {
  object-position: -3912px 0px;
}

.flag[data-country="sa"] {
  object-position: -3936px 0px;
}

.flag[data-country="sb"] {
  object-position: -3960px 0px;
}

.flag[data-country="sc"] {
  object-position: -3984px 0px;
}

.flag[data-country="sd"] {
  object-position: -4008px 0px;
}

.flag[data-country="se"] {
  object-position: -4032px 0px;
}

.flag[data-country="sg"] {
  object-position: -4056px 0px;
}

.flag[data-country="si"] {
  object-position: -4080px 0px;
}

.flag[data-country="sk"] {
  object-position: -4104px 0px;
}

.flag[data-country="sl"] {
  object-position: -4128px 0px;
}

.flag[data-country="sm"] {
  object-position: -4152px 0px;
}

.flag[data-country="sn"] {
  object-position: -4176px 0px;
}

.flag[data-country="so"] {
  object-position: -4200px 0px;
}

.flag[data-country="sr"] {
  object-position: -4224px 0px;
}

.flag[data-country="ss"] {
  object-position: -4248px 0px;
}

.flag[data-country="st"] {
  object-position: -4272px 0px;
}

.flag[data-country="sv"] {
  object-position: -4296px 0px;
}

.flag[data-country="sy"] {
  object-position: -4320px 0px;
}

.flag[data-country="sz"] {
  object-position: -4344px 0px;
}

.flag[data-country="td"] {
  object-position: -4368px 0px;
}

.flag[data-country="tg"] {
  object-position: -4392px 0px;
}

.flag[data-country="th"] {
  object-position: -4416px 0px;
}

.flag[data-country="tj"] {
  object-position: -4440px 0px;
}

.flag[data-country="tl"] {
  object-position: -4464px 0px;
}

.flag[data-country="tm"] {
  object-position: -4488px 0px;
}

.flag[data-country="tn"] {
  object-position: -4512px 0px;
}

.flag[data-country="to"] {
  object-position: -4536px 0px;
}

.flag[data-country="tr"] {
  object-position: -4560px 0px;
}

.flag[data-country="tt"] {
  object-position: -4584px 0px;
}

.flag[data-country="tv"] {
  object-position: -4608px 0px;
}

.flag[data-country="tw"] {
  object-position: -4632px 0px;
}

.flag[data-country="tz"] {
  object-position: -4656px 0px;
}

.flag[data-country="ua"] {
  object-position: -4680px 0px;
}

.flag[data-country="ug"] {
  object-position: -4704px 0px;
}

.flag[data-country="us"] {
  object-position: -4728px 0px;
}

.flag[data-country="uy"] {
  object-position: -4752px 0px;
}

.flag[data-country="uz"] {
  object-position: -4776px 0px;
}

.flag[data-country="va"] {
  object-position: -4800px 0px;
}

.flag[data-country="vc"] {
  object-position: -4824px 0px;
}

.flag[data-country="ve"] {
  object-position: -4848px 0px;
}

.flag[data-country="vn"] {
  object-position: -4872px 0px;
}

.flag[data-country="vu"] {
  object-position: -4896px 0px;
}

.flag[data-country="ws"] {
  object-position: -4920px 0px;
}

.flag[data-country="xk"] {
  object-position: -4944px 0px;
}

.flag[data-country="ye"] {
  object-position: -4968px 0px;
}

.flag[data-country="za"] {
  object-position: -4992px 0px;
}

.flag[data-country="zm"] {
  object-position: -5016px 0px;
}

.flag[data-country="zw"] {
  object-position: -5040px 0px;
}
