<?xml version="1.0" encoding="utf-8"?>
<soap:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
  <soap:Body>
    <WebRegister xmlns="http://tempuri.org/">
      <Login>dba</Login>
      <PassWord>sql</PassWord>
      <Application>App</Application>
      <IdSession>1212</IdSession>
    </WebRegister>
  </soap:Body>
</soap:Envelope>
