<?xml version="1.0" encoding="utf-8"?>
<soap:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
  <soap:Body>
    <ControleCreeAffaire xmlns="http://tempuri.org/">
      <pe_InfoCreationAffaire>
        <Login>es</Login>
        <PassWord>es123455</PassWord>
        <Fluide>1</Fluide>
        <CntGRDFRef>Administrés Elec.</CntGRDFRef>
        <PrestationCode>ES_1ERMES_C2C4</PrestationCode>
        <DateSouhaiteeRealisation>${dt}</DateSouhaiteeRealisation>
        <CodesValeurs>ADRPDL_VOIE=rue X;ADRPDL_VILLE=Strasbourg;ADRPDL_CP=67000;CLT_SEGMENT=C4;ADRCLT_VOIE=rue X;ADRCLT_VILLE=Strasbourg;;ADRCLT_CP=67000;CLT_TELFIXECLIENT=0303040506;CLASSE_TENSION=HTA 20 KV;LIMITPUIS=2000;CPT_NBFILS=2;CNT_TARIFACHEM=H5P;CNT_PS1=1000;CNT_PS2=1000;CNT_PS3=1000;CNT_PS4=1000;CNT_PS5=1000;CLT_PROFPART=1;CLT_NOMCLIENT=Dupondd;</CodesValeurs>
      </pe_InfoCreationAffaire>
    </ControleCreeAffaire>
  </soap:Body>
</soap:Envelope>
