.container {
  --bs-body-bg-rgb: var(--bs-table-active-bg);
  button {
    --bs-btn-padding-x: 0.4rem;
    --bs-btn-padding-y: 0.2rem;
  }
}

.column {
  padding: 3px 0.25rem;
  position: relative;
  --ax-form-padding: 0;
}