buildscript {
	apply from: "gradle/adk.gradle"
	dependencies {
		classpath adkPlugins()
	}
}

apply plugin: "axelor-app"

application {

	name "<%= name %>"
	title "<%= title %>"

	version "1.0.0"

	// ADK version required
	adkVersion "~<%= sdkVersion %>"

	// module dependencies
	// module "modules:axelor-contact"
}

allprojects {

	sourceCompatibility = 1.8
	targetCompatibility = 1.8

	license {
		ext.product = "<%= name %>"
		ext.owner = "My Company"
		ext.website = "http://my-company.com"
	}
}

task wrapper(type: Wrapper) {
	gradleVersion = "3.2.1"
}

tomcat {
	httpPort = project.properties.get("http.port", 8080) as Integer
	stopPort = 9451
}
