$treeNodePadding: 1.175rem;

.container {
  --ax-panel-body-padding: 0;
  --ax-panel-header-border: 0;
  border: var(--ax-panel-border) !important;
  &.hasActions {
    --ax-panel-header-title-padding: 0 0.5rem;
  }
}

.tree {
  --ax-expandable-form-view-padding: 0 0 0 #{$treeNodePadding};
  [dir="rtl"] & {
    --ax-expandable-form-view-padding: 0 #{$treeNodePadding} 0 0;
  }

  &:not(.hasContent) {
    border: none !important;
    & > div > div {
      background-color: unset;
    }
  }

  &.hideSubTreeHeader {
    border-width: 0 !important;
    border-left: var(--ax-panel-border) !important;
  }
}

.grid {
  overflow: auto;
  --bs-table-header-border: 1px solid var(--bs-table-border-color);
  --bs-table-footer-border: 1px solid var(--bs-table-border-color);

  &.basic {
    height: 100%;
  }

  &.tree-grid {
    --bs-table-striped-bg: var(--bs-body-bg);
    --bs-table-body-border: none;
  }

  &.tree-grid > * {
    min-height: unset !important;
  }

  &.sub-tree-grid {
    overflow: hidden !important;
    --bs-table-header-border: none;
    --bs-table-footer-border: none;
    &.no-rows {
      min-height: 0 !important;
    }
  }
}

.header {
  display: flex;
  align-items: center;

  .title {
    display: flex;
    flex: 1;

    .button {
      --bs-border-radius: 1rem;
      --bs-btn-padding-y: 0.0625rem;
      --bs-btn-padding-x: 0.5rem;
      --bs-btn-font-weight: 700;
      --bs-btn-font-size: 0.75rem;

      [dir="ltr"] & .icon {
        margin-left: -0.25rem;
      }
      [dir="rtl"] & .icon {
        margin-right: -0.25rem;
      }
    }
  }
}

.toolbar {
  --ax-command-bar-button-padding: 0.25rem;
}

:export {
  treeNodePadding: $treeNodePadding;
}
