.container {
  max-height: 400px;
}

.grid {
  --bs-table-cell-padding: 0.625rem 0.5rem;
}

.header {
  display: flex;
  gap: 1rem;
  align-items: center;
  min-height: 3rem;
}

.title {
  font-weight: 600;
  flex: 1;
  margin: 0 1rem;
  display: flex;
  align-items: center;
}
