.container,
.wrapper {
  display: flex;
  gap: 0.5rem;
  flex: 1;
}

.container {
  flex-direction: column;
}

.wrapper {
  overflow: auto;
  min-width: 0;
  min-height: 0;
}

.calendar {
  flex: 1;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
}

.sidebar {
  :global(.react-datepicker) {
    border-radius: 0;
  }
}

.filter {
  span,
  input {
    cursor: pointer;
  }
}
