.calendar {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;

  & .rbc-off-range-bg {
    background-color: #e6e6e6;
  }

  & .rbc-date-cell.rbc-now {
    background-color: inherit;
  }
}

.btn {
  border: "none";
  box-shadow: "none";
  &:hover {
    background-color: #eeeeee;
  }
  &.active {
    background-color: #e0e0e0;
  }
}

.title {
  font-size: 0.85rem;
}

.checkbox:focus {
  box-shadow: none;
}

.checkbox-label {
  cursor: pointer;
}

.scheduler-panel {
  width: 90%;
}

.calendar-panel {
}
