.tagLink {
  cursor: pointer;
  line-height: 16px;
  &:hover {
    text-decoration: underline;
  }
}

.imageTag {
  height: 1.75rem;
  & > *:nth-child(2) {
    margin-top: 0.15rem;
  }
}
.imageTag:not(.colorField) {
  background-color: transparent !important;
  color: inherit !important;
  border: 1px solid var(--bs-border-color);
}
