
.container {
  max-height: 38px;
  overflow: hidden;
  width: 100%;
  justify-content: flex-end;
  & > * {
    flex: 1;
  }
}

.select > div > div {
  flex-wrap: nowrap;
  justify-content: flex-end;
}