.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  padding: 0.25rem 0.5rem;
  .toggleIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.appLogo {
  cursor: pointer;
  user-select: none;
  height: 32px !important;
  svg {
    display: block;
    height: 32px;
    width: 100px !important;
  }
  img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
  }
}

.appIcon {
  width: 32px;
  height: 32px;
  overflow: hidden;
  border-radius: 100%;
  margin: 0 0.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  svg,
  img {
    width: 24px;
    height: 24px;
  }
}
