.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  padding: 0.25rem 0.5rem;
  .toggleIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.appLogo {
  svg {
    display: block;
    height: 32px;
    width: 100px !important;
  }
  img {
    height: 32px !important;
    vertical-align: middle;
  }
}
