<div class="form-view" ng-controller="FormViewCtrl" ui-tab-gate>
  <div class="navbar record-toolbar">
    <div class="navbar-inner">
      <div class="container">
        <div class="btn-group">
          <button class="btn btn-success" ng-disabled="!canSave()" ng-click="onSave()" title="{{ 'Save' | t}}">
            <span x-translate>Save</span>
          </button>
        </div>
        <div class="btn-group">
          <button class="btn" ng-click="onCancel()" ng-if="canCancel()" title="{{ 'Cancel' | t}}">
            <i class="fa fa-refresh"></i> <span ng-hide="tbTitleHide" x-translate>Cancel</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div ui-view-form x-handler="this"></div>
</div>