<div class="cards-container" ng-controller="CardsCtrl" ui-tab-gate ui-attach-scroll="> .cards-view">
  <div class="navbar record-toolbar">
    <div class="navbar-inner">
      <div class="container" ui-toolbar-adjust>
        <div class="btn-group">
          <button class="btn" ng-click="onNew()" ng-if="hasButton('new')" title="{{:: _t('New') }}">
            <i class="fa fa-plus"></i> <span ng-if="::!tbTitleHide" x-translate>New</span>
          </button>
          <button class="btn" ng-click="onRefresh()" ng-if="hasButton('refresh')" title="{{:: _t('Refresh') }}">
            <i class="fa fa-refresh"></i> <span ng-if="::!tbTitleHide" x-translate>Refresh</span>
          </button>
        </div>
        <div class="btn-group view-toolbar" ng-if="toolbar" style="display: none;">
          <button ng-repeat="btn in toolbar | filter:{custom: true}" class="btn" ui-tool-button="btn">{{btn.title}}</button>
        </div>
        <div ui-menu-bar x-menus="toolbarAsMenu" x-handler="this" class="view-toolbar-mobile" style="visibility: hidden;"></div>
        <div ui-menu-bar x-menus="menubar" x-handler="this" class="view-menubar" ng-show="menubar"></div>
        <div ui-filter-box x-handler="this"></div>
        <div class="record-toolbar-right">
          <div ui-view-customize class="pull-right"></div>
          <div ui-view-switcher class="pull-right"></div>
          <div ui-record-pager class="pull-right"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="cards-view row-fluid" ng-class="::schema.css" ui-cards>
    <div class="kanban-card-list">
      <div class="cards-no-records" x-translate>No records found.</div>
      <div class="kanban-card-container" ng-repeat="record in records">
        <div class="kanban-card" ng-class="hilite.color" ui-card>
          <div class="kanban-card-menu btn-group pull-right" ng-show="hasPermission('write') || hasPermission('remove')">
            <a tabindex="-1" href="javascript:" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu pull-right">
              <li><a href="javascript:" ng-show="hasPermission('write')" ng-click="onEdit(record)" x-translate>Edit</a></li>
              <li><a href="javascript:" ng-show="hasPermission('remove')" ng-click="onDelete(record)" x-translate>Delete</a></li>
            </ul>
          </div>
          <div class="kanban-card-body"></div>
        </div>
      </div>
    </div>
  </div>
</div>
