<div class="tree-view" ng-controller="TreeViewCtrl">
  <div class="navbar record-toolbar">
    <div class="navbar-inner">
      <div class="container">
        <span class="view-title">{{viewTitle}}</span>
        <div class="record-pager pull-right">
          <span class="record-pager-text">{{pagerText()}}</span>
          <div class="btn-group">
            <button class="btn" ng-disabled="!canPrev()" ng-click="onPrev()">
              <i class="fa fa-chevron-left"></i>
            </button>
            <button class="btn" ng-disabled="!canNext()" ng-click="onNext()">
              <i class="fa fa-chevron-right"></i>
            </button>
          </div>
          <button class="btn" ng-click="onRefresh()">
            <i class="fa fa-refresh"></i>
          </button>
          <button class="btn" ng-if="hasHelp()" ng-click="onShowHelp()"><i class="fa fa-info-circle"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div ui-view-tree x-handler="this"></div>
</div>
