.select {
  width: 180px !important;
  min-width: 180px;
}

.criteria {
  width: 180px !important;
  align-items: normal;
}

.icon {
  cursor: pointer;
}

@media all and (max-width: 640px) {
  .inputs {
    flex-direction: column;
    flex: 1;
    & > * {
      width: 100% !important;
    }
  }
}
