.select {
  width: 180px !important;
  min-width: 180px;
}

.archivedSelect {
  border: 1px solid var(--bs-border-color) !important;
  border-radius: var(--bs-border-radius) !important;

  max-width: 180px !important;

  padding: var(--ax-theme-badge-padding, 0.35em 0.65em);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.archiveIcon {
  padding-right: 0;
}

.activeArchive {
  color: var(--bs-primary);
  border-color: var(--bs-primary) !important;
}

.divider {
  height: 1.25rem !important;
}

.icon {
  cursor: pointer;
}
