.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  min-height: 0;
}

.views {
  overflow: hidden;
}
.views,
.grid-view,
.details-view {
  display: flex;
  flex: 1;
  min-width: 0;
  min-height: 0;
  position: relative;
}

.grid {
  --bs-table-cell-padding: 0.625rem 0.5rem;
}

.details-view-overlay {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  height: 100%;
  width: 50%;
  transition: all 0.2s;
  &.hide {
    right: -50%;
    z-index: 0;
  }
}

@media screen and (max-width: 767px) {
  .details-view-overlay {
    width: 100%;
    &.hide {
      right: -100%;
    }
  }
}

[dir="rtl"] .details-view-overlay {
  left: 0;
  right: auto;
  &.hide {
    left: -50%;
    right: auto;
  }
}

@media screen and (max-width: 767px) {
  [dir="rtl"] .details-view-overlay {
    &.hide {
      left: -100%;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.25;
  z-index: 1;
}
