.tag {
  display: inline-flex;
  align-items: center;
  height: 1.5rem;
}

.readonly.editable {
  --bs-body-bg: var(--bs-table-active-bg);
}

.tag-text {
  display: inline-block;
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.tag-remove {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  line-height: 0;

  margin-right: -0.25rem;
  [dir="rtl"] & {
    margin-right: unset;
    margin-left: -0.25rem;
  }

  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}
