.tag {
  display: inline-flex;
  align-items: center;
  height: 1.5rem;
  max-width: 100%;
}

.readonly.inGridEditor {
  --bs-body-bg: var(--bs-table-active-bg);
}

.tag-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.tag-remove {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  line-height: 0;
  opacity: 0.5;
  margin-right: -0.25rem;
  
  [dir="rtl"] & {
    margin-right: unset;
    margin-left: -0.25rem;
  }
  
  &:hover {
    opacity: 1;
  }
}
