<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{40} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Log everything for axelor -->
  <logger name="com.axelor" level="debug" />

  <!-- Good for troubleshooting hibernate issues -->
  <!-- <logger name="org.hibernate" level="info" /> -->

  <!-- Log all SQL DML statements as they are executed -->
  <!-- <logger name="org.hibernate.SQL" level="debug" /> -->

  <!-- Log all SQL DDL statements as they are executed -->
  <!-- <logger name="org.hibernate.tool.schema" level="info" /> -->

  <!-- Log all JDBC parameters -->
<!--   <logger name="org.hibernate.orm.jdbc.bind" level="all" />-->

  <!-- Log transactions -->
<!--   <logger name="org.hibernate.resource.transaction" level="trace" />-->

  <!-- Log L2-Cache -->
<!--   <logger name="org.hibernate.orm.cache" level="debug" />-->

  <!-- Log connection pooling -->
<!--   <logger name="com.zaxxer.hikari" level="info" />-->

  <root level="error">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
