.grid {
  display: grid;
  grid-template-columns: var(--grid-cols, repeat(12, 1fr));
  align-items: start;
  gap: var(--grid-gap, 1rem);
}

.grid > {
  .gridItem {
    grid-column: span 6;
  }
  .grid {
    grid-column: span 12;
  }
}

@for $i from 1 through 12 {
  .grid[data-cols="#{$i}"] {
    grid-template-columns: repeat(#{$i}, 1fr);
  }
}

@for $i from 1 through 12 {
  .grid > .gridItem[data-colspan="#{$i}"] {
    grid-column: span #{$i};
  }
}

@for $i from 1 through 12 {
  .grid > .gridItem[data-rowspan="#{$i}"] {
    grid-row: span #{$i};
  }
}

.grid.stack {
  grid-template-columns: 1fr;
}

@media (max-width: 767px) {
  .grid {
    grid-template-columns: 1fr !important;
    .gridItem {
      grid-column: span 1 !important;
    }
  }
}

