.loader {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  opacity: 0;
  visibility: hidden;
  transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.loader.show {
  opacity: 1;
  visibility: visible;
}
