.container {
  min-width: 0;
  min-height: 0;
  & > div:first-child {
    border-bottom: none !important;
  }
}

.gantt {
  --gantt-row-active-bg: #eee;
  --gantt-cell-active-bg: none;
}

.cell {
  pointer-events: all;
}

.icon {
  cursor: pointer;
}