.formViewContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.formViewScroller {
  flex: 1;
  overflow: auto;
  min-width: 0;
  min-height: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0.5rem;
}

.formView {
  max-width: 1500px;
  padding: 0.5rem;
  flex: 1;
}

.formLayout {
  display: flex;
  gap: 1rem;
}

.main,
.side {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main {
  flex: 1;
}

.side {
  width: 25%;
  min-width: 300px;
}

.mid {
  max-width: 768px;
}
.mini {
  max-width: 480px;
}
.large {
  max-width: 1500px;
}
