.formViewContainer {
  display: flex;
  justify-content: center;
  flex: 1;
}

.formView {
  max-width: 1500px;
  padding: 0.5rem;
  flex: 1;
}

.formLayout {
  display: flex;
  gap: 0.5rem;
}

.main,
.side {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.main {
  flex: 1;
}

.side {
  width: 300px;
}