apply plugin: 'axelor-module'

module {
	name "${name}"
	title "${title}"
	
	version "1.0.0"
	
	description """\
${title} module demo.

This is a demo module to provide quick demonstration of some new features.
    """

	// module dependencies
	// module "modules:axelor-foo"
}
