<?xml version="1.0" ?>
<domain-models xmlns="http://axelor.com/xml/ns/domain-models"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/domain-models http://axelor.com/xml/ns/domain-models/domain-models_4.2.xsd">

  <module name="<%= namespace %>" package="com.axelor.<%= namespace %>.db"/>

  <entity name="<%= model %>" cachable="true">
    <![CDATA[
    This is a simple Hello object.
    ]]>
    <string name="title" required="true" unique="true" namecolumn="true"/>
    <datetime name="publishedOn"/>
    <string name="tags"/>
    <string name="message" large="true"/>
  </entity>
  
</domain-models>
