<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://apps.axelor.com/xml/ns/object-views" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://apps.axelor.com/xml/ns/object-views http://apps.axelor.com/xml/ns/object-views/object-views_3.0.xsd">

	<menuitem name="menu-hello" priority="100" title="Hello" icon="img/tree-folder.png" />

	<menuitem name="menu-hello-all" parent="menu-hello"
    	title="All Messages"
    	action="hello.all"/>

	<action-view name="hello.all" title="Messages" model="com.axelor.<%= namespace %>.db.<%= model %>">
    	<view type="grid" name="hello-<%= namespace %>-grid"/>
	    <view type="form" name="hello-<%= namespace %>-form"/>
	</action-view>

</object-views>
