<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_4.1.xsd">

	<grid name="hello-<%= namespace %>-grid" title="<%= model %> List" model="com.axelor.<%= namespace %>.db.<%= model %>">
		<field name="title"/>
	</grid>

	<form name="hello-<%= namespace %>-form" title="<%= model %>" model="com.axelor.<%= namespace %>.db.<%= model %>">
		<panel title="Overview">
			<field name="title" x-span="12"/>
			<field name="publishedOn"/>
			<field name="tags"/>
		</panel>
		<panel title="Message">
			<field name="message" showTitle="false" x-span="12"/>
		</panel>
		<panel sidebar="true">
			<field name="createdOn"/>
			<field name="createdBy"/>
			<field name="updatedOn"/>
			<field name="updatedBy"/>
		</panel>
	</form>

</object-views>
