:root {
  --ax-theme-shell-bg: var(--bs-body-bg);
  --ax-theme-shell-color: var(--bs-body-color);
  --ax-theme-shell-scrollbar-color: var(--bs-border-color);
  --ax-theme-shell-sidebar-border: none;
  --ax-theme-shell-view-toolbar-bg: inherit;
  --ax-theme-shell-view-toolbar-color: inherit;
  --ax-theme-shell-view-content-bg: inherit;
  --ax-theme-shell-view-content-color: inherit;
  --ax-theme-shell-view-content-border: none;
}
